div.phone1 {
    font-size: 13px;
    position: absolute !important;
    color: #fff !important;
    font-weight: 500;
    padding-top: 12px;
}
.body-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999999999999999;

}
.idle-timer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.idle-timer{
    padding:20px;
    background-color: #ffffff;
    border: none;
    border-radius: none;
    min-width: 770px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.idle-timer h1{
    font-size: 18px !important;
}
.come-back-button{
    cursor: pointer;
    width: auto;
    padding: 10px;
    min-height: 20px;
    border: none;
    background-color: #0350f4;
    color: white;
    margin-right: 10px;
}
.go-log-out-button{
    cursor: pointer;
    width: auto;
    padding: 10px;
    min-height: 20px;
    border: none;
    background-color: red;
    color: white;
}
.active-idle-timer{
    display: inline-block;
}
.hide-idle-timer{
    display: none;
}
