@media (max-width: 1340px) {}


/* // for 1366px screens  */

@media screen and (min-width: 1025px) and (max-width: 1439px) {
    table.bet_slip_title tr td {
        font-size: 12px !important;
    }
    table.bet_slip_title tr td:nth-child(1) {
        width: auto !important;
    }
    table.bet_slip_title tr td:nth-child(2) {
        padding-left: 0;
    }
    table.bet_slip_title tr td a {
        margin-left: 0px !important;
    }
    .selip.selip-fixed {
        width: auto !important;
    }
}


/* Medium Devices, Desktops */


/* @media (max-width: 1024px) {} */


/* Small Devices, Tablets */

@media (min-width: 768px) and (max-width: 991px) {
    .form-box-size {
        width: 100%;
    }
}





/* Small Devices Potrait */

@media (max-width: 767px) {



    .container{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .form-box-size {
        width: 100%;
    }
    section#header_top_area {
        height: auto;
        text-align: center;
    }
    .user_profile_details div {
        text-align: left;
        padding-left: 0px;
        padding-right: 0;
        padding-bottom: 15px;
    }
    .header_logo_here {
        padding-top: 10px;
        text-align: center;
        padding-bottom: 10px;
    }
    .wigers_support {
        padding-top: 10px;
    }
    section#navigation_area {
        display: none;
    }
    .go_conintue input {
        width: 100%;
    }
    .go_conintue {
        float: unset;
        margin-bottom: 10px;
    }
    .upcoming_title {
        padding: 0;
        text-align: center;
    }
    .rwd-table {
        width: 100%;
        border-collapse: collapse;
        overflow: unset !important;
    }
    .dates {
        width: 100%;
        float: unset;
    }
    .table_title {
        width: 100%;
        float: unset;
    }
    .rwd-table th,
    .rwd-table td {
        text-align: left;
        margin-bottom: 20px;
    }
    td.game_details {
        top: 0;
    }
    /* tr.mobilecss {
        background: #ccc;
    } */
    .rwd-table th,
    .rwd-table td {
        text-align: center;
        margin-bottom: 20px;
        background: #f5f2f2;
    }
    .table_heres {
        position: relative;
    }
    /* .selip {
        position: absolute;
        right: 0;
        z-index: 999;
        width: 190px;
        top: 0;
    } */
    .col-3.mobilepostion {
        position: fixed;
        right: 0;
        top: 73%;
        padding: 0;
        text-align: center;
        z-index: 100;
    }
    /* .selip-fixed {
        position: fixed;
        top: 155px;
        width: 190px;
        right: 0;
        z-index: 1;
    } */
    .tab-style-3 .tabs {
        width: 100%;
    }
    .tab-style-3 .tab_content {
        width: 100%;
    }
    .single_current_details {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .video_details h2 {
        text-align: center;
    }
    table.rwd-table.newtables .tabdaily tr td {
        width: 100%;
        text-align: center;
    }
    table.rwd-table.newtables {
        width: 100%;
    }
    /* tr.mobilecss {
        border-bottom: 25px solid #fff;
    } */
    table.rwd-table.newtables tr td {
        width: 100%;
        text-align: center;
    }
    .rwd-table td,
    .rwd-table th {
        margin-bottom: 9px;
        margin-top: 0;
        float: left;
        width: 20%;
    }
    .tab-style-5 .tab ul li a img {
        width: 25px;
        height: 25px;
    }
    .tab-style-5 span {
        font-size: 12px;
        margin: 0;
    }
    .tab-style-5 .tabs a {
        padding: 0;
        line-height: 30px;
    }
    table.datatable td:before {
        content: unset !important;
        font-weight: bold;
        width: auto !important;
        display: inline-block;
        color: #000;
    }
    table.datatable tr td {
        display: inline-block;
    }
    .go_conintue {
        position: fixed;
        z-index: 22;
        right: 0;
        bottom: 0;
        transform: translateY(24%);
    }

    .-mobile-devices-previous-button{
        background: #364250;
        position: fixed;
        left: 0!important;
        height: 53px!important;
        width: auto;
        text-align: left;
        padding: 0 0px 0 12px;
    }

    .go_conintue input {
        height: 52px !important;
        width: 91px !important;
        font-size: 15px !important;
    }
    .rwd-table td:before {
        content: attr(data-th) ": ";
        font-weight: 700;
        width: 100%!important;
        display: block;
        color: #000;
        margin-top: 13px;
        text-align: center;
        margin-bottom: 9px;
    }
    .upcoming_title {
        margin-bottom: 3px;
    }
    .selip.selip-fixed {
        width: 100% !important;
    }
    .slicknav_nav {
        position: absolute;
        background: #000;
        width: 100%;
        top: 50px;
        z-index: 2222;
        left: 0;
    }
    .header_logo_here {
        position: absolute;
        top: -164px;
        left: 0;
    }
    .user_name.padding-top {
        width: 100%;
        text-align: center;
        border: 0;
        padding: 26px 0;
        margin: 0;
        height: 0;
        text-transform: uppercase;
    }
    .col-9.col-mobile {
        max-width: 100%;
        flex: 0 0 100%;
    }
    #upcoming_events .row {
        margin: 6px 0px!important;
        margin-top: 5px !important;
    }
    td.game_details {
        margin-bottom: -16px;
    }
    td.samedetails a {
        font-size: 11px;
        height: 40px;
        line-height: 15px!important;
        position: relative;
        top: 6px;
        padding-top: 9px;
    }
    .rwd-table td:before {
        font-size: 11px;
        font-family: sans-serif;
        padding-bottom: 0px;
    }
    table.rwd-table.newtables tr td a {
        line-height: 48px;
        border-top: 1px solid #000;
    }
    td.game_details {
        margin-top: 34px;
    }
    /* .rwd-table td:nth-child(5) {
        width: 28%;
    }
    .rwd-table td:nth-child(5) td {
        width: 50%;
        margin-bottom: 0;
    }
    .rwd-table td:nth-child(5) td:before {
        display: none;
    }
    .rwd-table td:nth-child(5) td a {
        font-size: 11px;
        padding-top: 9px;
        margin-top: 0px;
    } */
    .rwd-table tr:first-child {
        background: none;
    }
    .player-names {
        height: 35px;
    }
    .player-names span {
        line-height: 12px!important;
        display: inline-block;
        padding-top: 6px;
    }
    /* working with tab view for mobile*/

    #mobile-tab-view{
        display: inline-block;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 5;
    }
    .mobile-container{
        display: inline-block;
        min-height: 20px;
        background: #474747;
        color: #fff;
        width: 100%;
        height: 50px;
    }
    .mobile-container div{
        border-right:1px solid #d4d4d4;
    }
    .mobile-container div p{
        text-align: center;
        line-height: 53px;

    }

    .mobile-container div p a{
        color: #fff;
        text-decoration: none;
    }

    .go-continue-btn{
        padding: 0!important;
        background-color: transparent!important;
        cursor: pointer!important;
        font-size: 20px;
        font-weight: 400;
        border-color: transparent !important;
        width: 100%;
        height: 100%;
        line-height: 13px;
        padding: 20px !important;
        margin: 0px !important;
    }

    /*.soccer-btn{
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 10;
    }*/

    /* login page */
    .form-box-size{
        width: 320px !important;
        height: auto;
    }

}

/* Extra Small Devices, Phones */

@media (max-width: 479px) {
    .dates p {
        margin-right: 7px;
        font-size: 11px;
    }
}

/* Modified by RoN */

