.admin-agent-lists{
     table{
        border-collapse: separate;
        border-spacing: 10px;
        tbody{
            tr{
                td{
                    background-color: #f3f3f3;
                    cursor: pointer;
                    a{
                        display: block;
                        text-align: center;
                        font-size: 17px;
                        font-family: inherit;
                    }
                    &:hover{
                        background-color: #fff;
                    }
                }
            }
        }
     }
}
.breadcum{
    padding: 0.5rem 1rem;
}



