

.data-table{
    display: grid;
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        div{
            padding: 10px;
            text-align: center;
            border:1px solid rgba($color: #000000, $alpha: 0.5);
        }
    }
    .body-content{
        display: grid;
        grid-template-rows: 1fr;
        .each-row{
            display: grid;
            grid-template-columns: 1fr 1fr;
            div{
             text-align: center;
             border:1px solid rgba($color: #000000, $alpha: 0.5);
             line-height: 30px;
             span{
                 cursor: pointer;
                 display: block;
             }
           }
        }
    }
}

.first_period
, .football_first_half
, .football_second_half_prop
, .football_first_qtr_prop_bet
, .basketball_first_half
, .basket_first_qtr_prop_bet
, .volleyball_first_set
{
    .header{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .body-content{
        .each-row{
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .player_name{
                display: block;

            }
        }
    }
}

.basketball_winning_margin
, .team_to_score_first
{
    .header{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .body-content{
        .each-row{
            grid-template-columns: 1fr 1fr 1fr;
            .player_name{
                display: block;
                background: #dddddd;
            }
        }
    }
}

