$color-red: #FF0000;
$color-deepred: #630A0C;
#body_warapper {
  min-height: calc(100vh - 100px);
}

table.admin-agent-lists{
    tr{
        td{
        background-color: #f3f3f3;
        }
    }
}


.no-letter-spacing{
    letter-spacing: 0 !important;
}

/*pending page table*/
.table-show-640{
  display: none;
  @media only screen and (max-width: 640px) {
    tr:nth-child(odd){
      background: #f0f0f0 !important;
    }
    display: table-cell;
  }
}
.table-hide-640{
  @media only screen and (max-width: 640px) {
    display: none;
  }
}
.display-table{
  display: table;
}
.font-14-responsive{
  @media only screen and (max-width: 400px) {
    font-size: 12px;
  }
}
.table-bg-red{
  thead{
    tr{
      background: $color-deepred;
      color: #ffffffe0;
      text-align: center;
      text-transform: uppercase;
      th{
        font-size: 12px;
        @media only screen and (max-width: 767px) {
          font-size: 11px;
        }
      }
    }
  }
  tbody{
    @media only screen and (max-width: 640px) {
      tr{
        background: #e4e4e4;
        text-align: center;
      }
      tr:nth-child(odd) {
        background: #e8e8e8 !important;
        border-bottom: none;
      }
    }
    td{
      border: none;
      vertical-align: middle;
      @media only screen and (max-width: 420px) {
        font-size: 12px;
      }
    }
    tr{
      background: #f3f3f3;
      text-align: center;
        font-size: 16px;
        border-bottom: 1px solid grey;
      td:nth-child(even) {
        background: #fff !important;
        border-bottom: 1px solid #e6e6e6;
        @media only screen and (max-width: 640px) {
          background: none!important;
          border-bottom: none;
        }
      }
    }
  }
  .game-column{
    display: table;
    float: left;
    margin: 14px 10px 0 0;
  }
  .mini-sudo-table{
    width: 100px;
    display: inline-block;
    &.mn-h{
      height: 60px;
      @media only screen and (max-width: 500px) {
        height: 25px;
      }
    }
  }
  .mn-line{
    padding: 8px 0px;
    display: inline-block;
    vertical-align: top;
  }
  .tr-tap-board{
    td{
      padding-top: 15px;
      position: relative;
        font-size: 14px;
    }
    .tr-tap-sticker{
      position: absolute;
      top: -2px;
      left: 0;
      background: #444;
      color: #fff;
      width: calc(100vw - 10px);
      padding: 10px;
      text-align: left;
      .tr-tap-sticker-inline{
        display: inline-block;
      }
    }
  }
}
/*pending page table end*/

/*account page table*/
.acc-tab-hide-767{
  display: table!important;
  @media only screen and (max-width: 767px) {
    display: none!important;
  }
}
.acc-tab-show-767{
  display: none!important;
  @media only screen and (max-width: 767px) {
    display: table!important;
  }
}
.responsive-tab{
  width: 100%!important;
  li{
    float: left;
    width: 20%!important;
    margin-bottom: 0!important;
    text-align: center;
    @media only screen and (max-width: 593px) {
      font-size: 12px;
    }
    a{
      @media only screen and (max-width: 593px) {
        padding: 0!important;
      }
    }
  }
}
.tab-content-responsive{
  @media only screen and (max-width: 767px) {
    width: 100%!important;
  }
}
.table-account{
  thead{
    th{
      padding: .75rem 0!important;
    }
  }
  .account-href{
    td{
      a{
        text-decoration: none;
        color: #000000;
      }
    }
  }
  .mini-sudo-table-acc{
    width: 75px;
    display: inline-block;
  }
}
.container-responsive{
  padding-right: 0;
  padding-left: 0;
  @media only screen and (max-width: 767px) {
    padding-right: 0;
    padding-left: 0;
  }
}
/*account page table end*/

/*props-bet*/
.prop-td-hide-767{
  @media only screen and (max-width: 767px) {
    display: none!important;
  }
}
.prop-td-show-767{
  display: none;
  @media only screen and (max-width: 767px) {
    display: table!important;
  }
}
.prop-table{
  tr{
    background-color: #F5F2F2;
  }
  thead{
    th{
      font-size: 13px;
      text-align: center;
      font-weight: normal;
      padding: 10px 0;
      vertical-align: middle;
    }
  }
  td{
    background-color: #ffffff;
    font-size: 11px;
    text-align: center;
    color: #000;
    border: 1px solid #f2f2f2!important;
    padding: 0;
    line-height: 33px;
    a{
      display: block;
      text-decoration: none;
      color: #000;
    }
  }
}
/*props-bet end*/
.btn-transparent{
  background: transparent;
  color: #FFF;
  padding: 2px 22px 9px 0px;
  width: 81px;

}
.btn-cont{
  width: 127px;
  background-color: #000;
  border-radius: 0;
  padding: 20px 0;
  font-size: 24px;
  color: #ffffff;
}

.tab-radious{
  display: flex!important;
  width: 100% !important;
  border-radius: 53px!important;
  align-items: center;
  justify-content: center;
  .img-sec{
    display: inline-block;
    float: left;
    width: 25%;
    margin: 0px 9px 0 0px;
  }
  .text-sec{
    float: left;
    display: table;
    width: 115%;
    line-height: 16px;
    text-align: left;
  }
}



// ================================
// Live-bet-event-content
// ================================
.Live-bet-event-content{
    width: 100%;
    display: table;
    padding: 5px 0;
    font-family: Rubik;
    font-size: 14px;
    .Live-bet-event-content-each{
        width: 100%;
        display: table;
        .Live-bet-league-header{
            width: 100%;
            display: table;
            ._league_header_title{
                background: #3A3A3A;
                padding: 10px;
                text-align: center;
                width: calc(100% - 450px);
                float: left;
                display: table;
                color: #ffffff;
                @media (max-width: 1024px) {
                    width: calc(100% - 300px);
                }
                @media (max-width: 480px) {
                    width: 100%;
                  &._league_header_title_strt{
                    width: calc(100% - 300px);
                  }
                }
                @media (max-width: 420px) {
                  &._league_header_title_strt{
                    width: calc(100% - 294px);
                  }
                }
                @media (max-width: 414px) {
                  &._league_header_title_strt{
                    width: calc(100% - 230px);
                  }
                }
                @media (max-width: 411px) {
                  &._league_header_title_strt{
                    width: calc(100% - 230px);
                  }
                }
                @media (max-width: 360px) {
                  &._league_header_title_strt{
                    width: calc(100% - 220px);
                  }
                }
            }
            ._tennis_sport_header{
                @media (max-width: 767px) {
                    width: calc(100% - 331px);
                }
                @media (max-width: 480px) {
                    width: calc(100% - 0px);
                }
            }
            ._when_tennis_data_header{
                width: 222px !important;
                @media (max-width: 767px) {
                    width: 164px !important;
                }
                @media (max-width: 480px) {
                    float: right !important;
                    width: 100px!important;
                    background: transparent !important;
                    border-right: 1px solid #d4d4d4 !important;
                }
                @media (max-width: 375px) {
                    float: right !important;
                    width: 68px!important;
                    background: transparent !important;
                    border-right: 1px solid #d4d4d4 !important;
                }
            }
            .mobile-w-375{
                @media (max-width: 480px) {
                    float: right;
                }
            }
            ._league_header_spread,
            ._league_header_mline,
            ._league_header_total{
                background: transparent;
                padding: 10px;
                text-align: center;
                width: 150px;
                float: left;
                display: table;
                &.list-item-full{
                  width: 450px;
                }
                @media (max-width: 1024px) {
                    width: 100px;
                    font-size: 12px;
                    padding: 11px 2px;
                    &.list-item-full{
                      width: 300px;
                    }
                }
                @media (max-width: 420px) {
                    width: 98px;
                    font-size: 12px;
                    padding: 11px 2px;
                    &.list-item-full{
                      width: 98px*3;
                    }
                }
                @media (max-width: 414px) {
                    width: 76px;
                    font-size: 12px;
                    padding: 11px 2px;
                    border-right: 1px solid #d3d3d3;
                    &.list-item-full{
                      width: 58px*3;
                    }

                  }
                @media (max-width: 360px) {
                    width: 73px;
                    font-size: 12px;
                    padding: 11px 2px;
                    border-right: 1px solid #d3d3d3;
                    &.list-item-full{
                      width: 58px*3;
                    }

                  }
                @media (max-width: 480px) {
                    display: inline-block;
                }
                span{
                    @media (max-width: 420px) {
                        display: none;
                    }
                }
            }
            &.rd-dark{
              ._league_header_title{
                background: #630A0C;
                color: #ffffff;
              }
              ._league_header_spread{
                background: #630A0C;
                color: #ffffff;
              }
            }
        }
        .Live-bet-league-each{
            width: 100%;
            display: table;
            .Live-bet-event-each{
                width: 100%;
                display: table;
                margin-bottom: 5px;
                box-shadow: 1px 1px 6px 0 #0000003d;
                ._event_sections_mobile{
                    text-align: left;
                    width: 100%;
                    float: left;
                    color: #fff;
                    background: #630a0c;
                    padding: 10px;
                    display: none;
                    position: relative;
                    &.rd-dark{background: #630A0C;}
                    ._event_sections_button{
                      position: absolute;
                      top: 8px;
                      right: 25px;
                      color: #ffffff;
                      background: transparent;
                      border: none;
                    }
                    ._event_sections_button_icon{
                      position: absolute;
                      top: 9px;
                      right: 5px;
                      background: transparent;
                      border: none;
                    }
                    @media (max-width: 480px) {
                        display: table;
                    }
                }
                ._tennis_sport_table{
                    @media (max-width: 768px) {
                        width: calc(100% - 331px) !important;
                    }
                    @media (max-width: 480px) {
                        width: calc(100% - 200px) !important;
                    }
                    @media (max-width: 375px) {
                        width: calc(100% - 134px) !important;
                    }
                    ._event_titles{
                        @media (max-width: 375px) {
                            height: 100px !important;
                        }
                        @media (max-width: 480px) {
                            height: 82px !important;
                        }
                        ul{
                            @media (max-width: 375px) {
                                height: 100px !important;
                            }
                            @media (max-width: 480px) {
                                height: 82px !important;
                            }
                            li{
                                height: 41px !important;
                            }
                        }


                    }

                }
                ._league_header_title{
                    text-align: center;
                    width: calc(100% - 450px);
                    float: left;
                    display: inline-block;
                    color: #ffffff;
                    @media (max-width: 1024px) {
                        width: calc(100% - 300px);
                    }
                    @media (max-width: 414px) {
                        width: calc(100% - 230px);
                    }
                    ._event_sections{
                        text-align: center;
                        width: 100px;
                        float: left;
                        display: flex;
                        color: #fff;
                        background: #630a0c;
                        height: 80px;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        position: relative;
                        ._event_sections_button{
                          position: absolute;
                          bottom: 0;
                          left: 0;
                          width: 100%;
                          background: #ffffff;
                          border: 1px solid #ccc;
                          cursor: pointer;
                        }
                        .w-100{ width: 100%;display: table; }
                        &.gm-sec-3{height: 120px;}
                        @media (max-width: 1024px) {
                            width: 80px;
                            height: 82px;
                            font-size: 12px;
                        }
                        @media (max-width: 480px) {
                            display: none;
                        }
                        &.rd-dark{
                          background: #3A3A3A;
                        }
                    }
                    ._event_titles{
                        text-align: center;
                        width: calc(100% - 100px);
                        float: left;
                        display: inline-block;
                        color: #000000;
                        background: #CCCCCC;
                        height: 80px;
                        overflow: hidden;
                        &.gm-sec-3{
                          height: 120px;
                          @media (max-width: 767px) {
                            height: 120px;
                          }
                          @media (max-width: 414px) {
                            height: 150px;
                          }
                        }
                        @media (max-width: 1024px) {
                            width: calc(100% - 80px);
                            height: 82px;
                        }
                        @media (max-width: 480px) {
                            width: 100%;
                        }
                       /*  @media (max-width: 420px) {
                            width: 224px;
                        } */
                        @media (max-width: 414px) {
                            height: 100px;
                        }
                        ul{
                            width: 100%;
                            display: table;
                            margin: 0;
                            padding: 0;
                            height: 80px;
                            &.gm-sec-3{height: 120px;}
                            @media (max-width: 414px) {
                                height: 100px;
                            }
                            li{
                                width: 100%;
                                height: 40px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 12px;
                                @media (max-width: 414px) {
                                  height: 50px;
                                }
                                .spn-title{
                                    display: inline-block;
                                    text-align: left;
                                    @media (max-width: 480px) {
                                        width: 100%;
                                        font-size: 12px;
                                    }
                                }
                                .spn-values{
                                    display: inline-block;
                                    text-align: right;
                                    letter-spacing: 6px;
                                }
                            }
                        }
                    }
                }
                ._when_tennis_data{
                    width: 222px !important;
                    @media (max-width: 767px) {
                        width: 164px !important;
                    }
                    @media (max-width: 480px) {
                        width: 100px !important;
                    }
                    @media (max-width: 375px) {
                        width: 67px!important;
                    }
                    ul{
                        li{
                            @media (max-width: 375px) {
                                padding: 0;
                                height: 41px!important;
                            }
                            @media (max-width: 414px) {
                                font-size: 11px;
                                padding: 14px 3px;
                                min-height: 41px !important;
                            }
                        }
                    }

                }
                ._league_header_spread,
                ._league_header_mline,
                ._league_header_total{
                    background: #ffffff;
                    text-align: center;
                    width: 150px;
                    float: left;
                    display: table;
                    &.list-item-full{
                      width: 150px*3;
                    }
                    @media (max-width: 1024px) {
                        width: 100px;
                        font-size: 11px;
                        &.list-item-full{
                          width: 100px*3;
                        }
                    }
                    @media (max-width: 420px) {
                        width: 100px;
                        font-size: 11px;
                        &.list-item-full{
                          width: 58px*3;
                        }
                    }
                    @media (max-width: 414px) {
                        width: 74px;
                        font-size: 11px;
                        &.list-item-full{
                          width: 58px*3;
                        }
                    }
                    @media (max-width: 411px) {
                        width: 73px;
                        font-size: 11px;
                        &.list-item-full{
                          width: 58px*3;
                        }
                    }
                    @media (max-width: 360px) {
                        width: 75px;
                        font-size: 11px;
                        &.list-item-full{
                          width: 58px*3;
                        }
                    }
                    ul{
                        width: 100%;
                        display: table;
                        margin: 0;
                        padding: 0;
                        li{
                            width: 100%;
                            display: flex;
                            height: 40px;
                            text-align: center;
                           /*  padding: 12px; */
                            justify-content: center;
                            align-items: center;
                            border-bottom: 1px solid #CCCCCC;
                            border-top: 1px solid #CCCCCC;
                            border-right: 1px solid #CCCCCC;
                            cursor: pointer;
                            &:first-child{
                                border-bottom: 1px solid transparent;
                            }
                            &:hover{
                                background: #e2e2e2;
                            }
                            &:active,&.active{
                                span.i{
                                    color: #ffffff;
                                    font-weight: bold;
                                }
                            }
                            &.no-event{pointer-events: none;}
                            @media (max-width: 1024px) {
                                font-size: 11px;
                                padding: 14px 3px;
                            }
                            @media (max-width: 414px) {
                                font-size: 10px;
                                padding: 12px 3px;
                                min-height: 50px;
                                overflow: hidden;
                            }
                            @media (max-width: 375px) {
                                padding: 0;
                                height: 50px;
                            }
                            .mobile-w-100{
                                @media (max-width: 375px) {
                                    width: 100%;
                                    display: block;
                                    margin: 5px 0;
                                    font-size: 11px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            &:first-child{
                .Live-bet-event-each{
                    ._league_header_total{
                        ul{
                            li{
                                border-bottom: 1px solid #CCCCCC;
                                border-top: 1px solid #CCCCCC;
                                border-right: 1px solid #CCCCCC;
                                &:first-child{
                                    border-top: 1px solid transparent;
                                    border-bottom: 1px solid transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.data-not-available{
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .unavaiable-text{
      text-align: center;
      h4{
          font-size: 25px;
          color: rgba(0,0,0,0.5);
      }
    }
}


/* ----------------------
|   Mobile view live bets
|   tabs
/* ---------------------- */
.margin-left-right{
  margin: 0 2px 0 5px;
}
.sportMenuListTemplate{
    @media (max-width: 375px) {
        margin-top: -40px;
    }
}

.preloading {
    text-align: center;
    img {
        display: block;
        margin: 0 auto !important;
        float: none !important;
        @media (max-width: 375px) {
            width: 40px;
        }
        @media (max-width: 767px) {
            width: 100px;
        }
    }


}
/*live*/
.game_name{
  @media only screen and (max-width: 767px) {
    height: 30px;
  }
}


.game_name h3 {
  @media only screen and (max-width: 767px) {
    line-height: 30px;
    font-size: 12px;
  }
}

.game_play_list label {
  @media only screen and (max-width: 767px) {
    line-height: 20px;
    font-size: 14px;
  }
}
.upcoming_title h2{
  @media only screen and (max-width: 767px) {
    font-size: 19px;
  }
}
.upcoming_title p{
  @media only screen and (max-width: 767px) {
    font-size: 13px;
  }
}



.dextop-aling{
    @media only screen and (min-width: 768px) {
        text-align: left;
        width: 100%;
        float: left;
        font-size: 13px;
        line-height: 15px;
      }
}
.font-10{
  font-size: 10px;
}
@media only screen and (max-width: 767px) {
  ul#nabvar {
    padding-bottom: 60px;
  }
}


.margin-top-0{
  margin-top: 0!important;
}

.row-no-margin{
  margin-right: 0px;
  margin-left: 0px;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
.padding-0{
  padding: 0!important;
}

.padding-0-index{
  @media only screen and (max-width: 767px) {
    padding: 0;
  }

}
.padding-0-index-left{
  padding-left: 0!important;
}
.padding-0-index-right{
 padding-right: 0!important;
}

.mobile-hide-casino{
  display: table;
  @media only screen and (max-width: 767px) {
   display: none;
  }
}
.mobile-show-casino{
  display: none;
  @media only screen and (max-width: 767px) {
   display: table;
  }
}

.upcoming-margin-top{
  margin-top: 7px!important;
}
.acc-body-margin-top{
  margin-top: -5px!important;
}
.upcoming-margin-bottom{
  @media only screen and (max-width: 767px) {
    margin-bottom: 9px!important;
  }
}

.acc-tabs-head{
  text-align: center!important;
  padding: 0 0 0 0!important;
  font-size: 12px!important;
}

.padding-slip-bet-mobile{
  @media only screen and (max-width: 767px) {
    padding: 90px 0;
  }
}
.sticky-casion {
  position: fixed!important;
  top: 0!important;
  width: 100%!important;
}
.sticky-live {
  position: fixed!important;
  top: -8px!important;
  width: 100%!important;
  z-index: 5;
}
.top-click{
  position: fixed;
  bottom: 20px;
  right: 70px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  background-color: #741d01;
  color: #ffffff;
  line-height: 33px;
  @media only screen and (max-width: 767px) {
    bottom: 55px;
    right: 5px;
    background-color: #474747;
    width: 35px;
    height: 35px;
    line-height: 28px;
  }
}

.custom-bet-input{
  height: 32px!important;
  box-shadow: none!important;
}
.custom-slip{
  width: 278px!important;
  float: right;
  margin-left: 20px!important;
  @media only screen and (max-width: 767px) {
    width: 100%!important;
    margin-left: 0px!important;
    float: none;
  }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.__blink{
    opacity: 1;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.__wager-type{
    text-transform: capitalize;
}

